<div class="navbar navbar-expand-lg navbar-light bg-light fixed-top headerAn">
    <div class="container-fluid">
      
      <a class="navbar-brand d-flex align-items-center" href="/dashboard">
       
        <img src="img/Logo.png" alt="Logo" width="80" height="80">
  
        
        <span>TrustMed</span>
      </a>
      
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link text-dark" href="/dashboard">Dashboard</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-dark" href="/aboutUser">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-dark" href="/DoctorsUser">Doctors</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-dark" href="/ReviewUser">Review</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-dark" href="/ContactUser">Contact</a>
          </li>
        </ul>
    
        <div class="col-md-3 text-end">
          <a href="/logout" type="button" class="btn btn-outline-primary me-2 custom-button">Logout</a>
         
        </div>
        
      </div>
    </div>
  </div>
  