<section class="contact">
<h1 class="AboutHeading">Contact Us</h1>
<h3 class="AboutTitle">You can talk to us any times,</h3>

<div class="AboutBox-container">

    <div class="images">
        <img src="/img/contect1.jpg" alt="doctor service">
    </div>

    <div class="form-container">
        <form method="post" action="#">
        <input type="text" placeholder="Full name" name="" id=""> 
        <input type="email" placeholder="Enter your email" name="" id=""> 
        <input type="number" placeholder="Phone" name="" id=""> 
        <textarea name="" cols="30" rows="10" id="" placeholder="Enter comments here."></textarea>
        <input type="submit" value="Send"> 
        </form>

    </div>

</div>
</section>