<div class="container-fluid py-md-5 mb-5">
    <main class="homeT">
        <div class="row d-flex justify-content-between align-items-center py-md-5 rowTD">
            <!-- النص -->
            <div class="col-md-12 col-lg-6 text-box">
                <h1 class="display-2 fw-bold mb-4 position-relative">
                    Welcome Back <span class="userNameFormat"><%=userName%></span> <h1> 
                <p class="fs-4 mb-4">
                    <br>What’s next on your health journey?
                </p>

                <div class="dashboard-container">
                    <h3>Manage Your Health Journey</h3>
                    <div >
                        <div >
                            <a href="#" class="btn btn-primary me-2 dashboard-button">Previous Appointments</a>
                        </div>
                        <div >
                            <a href="#" class="btn btn-primary me-2 dashboard-button">Coming Appointments</a>
                        </div>
                        <div >
                            <a href="#" class="btn btn-primary me-2 dashboard-button">Get Report</a>
                        </div>
                    </div>
                </div>
            </div>


            <!-- الصورة -->
            <div class="col-md-12 col-lg-6 d-flex justify-content-end imageTD">
                <div class="image-containerD">
                    <img src="https://i.pinimg.com/originals/ee/84/e6/ee84e6c4f71311cac5b0624e31ea9b51.gif"
                        alt="Doctor Image">
                </div>
            </div>
        </div>
    </main>
</div>