<section class="DoctorsCards">
<div class="Doctors-container">
<h1 class="AboutHeading">Doctors</h1>
<h3 class="AboutTitle">Our professional doctors</h3>
<div></div>
<div>
    
    <div class="appointment-search-container">
        <h3>Find Best HealthCare</h3>
        <div class="appointment-search">
            <div class="appo-search-box">
                <input type="search" placeholder="Search Doctor Here">
            </div><br>
            
           
            <div class="appo-search-box">
                <input type="text" list="specialties" name="specialty" placeholder="Select Doctor Specialty">
                <datalist id="specialties">
                    <option value="Cardiology">
                    <option value="Dermatology">
                    <option value="Neurology">
                    <option value="Pediatrics">
                    <option value="Orthopedics">
                    <option value="Psychiatry">
                    <option value="Surgery">
                    <option value="Gynecology">
                    <option value="Ophthalmology">
                    <option value="Dentistry">
                </datalist>
            </div><br>
            
            
            <div class="appo-search-box">
                <input  type="text" list="areas" name="area" placeholder="Select Area in Riyadh">
                <datalist id="areas">
                    <option value="Al-Malaz">
                    <option value="Al-Nakheel">
                    <option value="Al-Sulaymaniyah">
                    <option value="Al-Riyadh Al-Kadimah">
                    <option value="Al-Faisaliah">
                    <option value="Al-Wurud">
                    <option value="King Fahd District">
                    <option value="Al-Diriyah">
                    <option value="Al-Qurayyat">
                    <option value="Al-Shemaisi">
                </datalist>
            </div><br>
        
            <a href="#" class="btn btn-primary me-2 custom-button">Start Searching Now</a>
        </div>
        
    </div>
    
</div>
<div class="DoctorsBox-container">
    <!--Start here-->
    <div class="DoctorsBox">
        <img src="/img/Doctor1.jpg" alt="doctor service">
        <div class="DoctorsContent">
            <a href="#">
                <h2>Jhon doe</h2>
            </a>
            <p>Professional</p>
            <div class="Doctors-icons">
                <a href="#" class="bi bi-facebook"></a>
                <a href="#" class="bi bi-instagram"></a>
                <a href="#" class="bi bi-twitter"></a>
            </div>
        </div>
    </div>
    <!--End here-->

       <!--Start here-->
       <div class="DoctorsBox">
        <img src="/img/Doctor2.jpg" alt="doctor service">
        <div class="DoctorsContent">
            <a href="#">
                <h2>Jhon doe</h2>
            </a>
            <p>Professional</p>
            <div class="Doctors-icons">
                <a href="#" class="bi bi-facebook"></a>
                <a href="#" class="bi bi-instagram"></a>
                <a href="#" class="bi bi-twitter"></a>
            </div>
        </div>
    </div>
    <!--End here-->

       <!--Start here-->
       <div class="DoctorsBox">
        <img src="/img/Doctor3.jpg" alt="doctor service">
        <div class="DoctorsContent">
            <a href="#">
                <h2>Jhon doe</h2>
            </a>
            <p>Professional</p>
            <div class="Doctors-icons">
                <a href="#" class="bi bi-facebook"></a>
                <a href="#" class="bi bi-instagram"></a>
                <a href="#" class="bi bi-twitter"></a>
            </div>
        </div>
    </div>
    <!--End here-->
</div>
</div>
</section>