<div class="container-fluid py-md-5 mb-5">
    <main class="homeT">
        <div class="row d-flex justify-content-between align-items-center py-md-5 rowT">
          
            <div class="col-md-12 col-lg-6 text-box">
                <h1 class="display-2 fw-bold mb-4 position-relative">
                    Welcome to TrustMed...
                </h1>
                <p class="fs-4 mb-4">
                    Discover the best doctors in Riyadh with real patient reviews.
                </p>

                <a href="auth/google" class="btn btn-primary me-2 custom-button">Start Your Health Journey</a>
            </div>


          
            <div class="col-md-12 col-lg-6 d-flex justify-content-end imageT">
                <div class="image-container">
                    <img src="https://i.pinimg.com/originals/b8/23/e3/b823e38cc01fdb9278b6f7faa2feda6d.gif"
                        alt="Doctor Image">
                </div>
            </div>
        </div>
    </main>
</div>