<section class="Review">
    <h1 class="AboutHeading">Our patient review</h1>
    <h3 class="AboutTitle">What patient says about us</h3>
    
    <div class="ReviewBox-containe">
        <!--Start here-->
        <div class="ReviewBox">
            <i class="fas fa-quote-left"></i>
            <p>Excellent service! Highly recommend.
            </p>
    
            <div class="Review-images">
                <img src="/img/review3.jpg" alt="doctor service">
                
                <div class="info">
                    <h3>Sara</h3>
                    <span>date: 2025-04-12</span>
                </div>
            </div>
        </div>
        <!--End here-->
    
         <!--Start here-->
         <div class="ReviewBox">
            <i class="fas fa-quote-left"></i>
            <p>Very professional and helpful.
            </p>
    
            <div class="Review-images">
                <img src="/img/review2.jpg" alt="doctor service">
                
                <div class="info">
                    <h3>Ahmed</h3>
                    <span>date :  2025-05-12</span>
                </div>
            </div>
        </div>
        <!--End here-->
    
         <!--Start here-->
         <div class="ReviewBox">
            <i class="fas fa-quote-left"></i>
            <p>Great experience. Will definitely come back.
            </p>
    
            <div class="Review-images">
                <img src="/img/review1.jpg" alt="doctor service">
                
                <div class="info">
                    <h3>Fatimah</h3>
                    <span>date :  2025-10-12</span>
                </div>
            </div>
        </div>
        <!--End here-->
        
    
    </div>
    </section>