<section class="Review">
<h1 class="AboutHeading">Our patient review</h1>
<h3 class="AboutTitle">What patient says about us</h3>

<div class="ReviewBox-containe">
    <!--Start here-->
    <div class="ReviewBox">
        <i class="fas fa-quote-left"></i>
        <p>lorerem20sssssssssssssssss
            ssssssssssssss
            sssssss.
        </p>

        <div class="Review-images">
            <img src="/img/review3.jpg" alt="doctor service">
            
            <div class="info">
                <h3>john doe</h3>
                <span>date : 5 2025</span>
            </div>
        </div>
    </div>
    <!--End here-->

     <!--Start here-->
     <div class="ReviewBox">
        <i class="fas fa-quote-left"></i>
        <p>lorerem20sssssssssssssssss
            ssssssssssssss
            sssssss.
        </p>

        <div class="Review-images">
            <img src="/img/review2.jpg" alt="doctor service">
            
            <div class="info">
                <h3>john doe</h3>
                <span>date : 5 2025</span>
            </div>
        </div>
    </div>
    <!--End here-->

     <!--Start here-->
     <div class="ReviewBox">
        <i class="fas fa-quote-left"></i>
        <p>lorerem20sssssssssssssssss
            ssssssssssssss
            sssssss.
        </p>

        <div class="Review-images">
            <img src="/img/review1.jpg" alt="doctor service">
            
            <div class="info">
                <h3>john doe</h3>
                <span>date : 5 2025</span>
            </div>
        </div>
    </div>
    <!--End here-->
    

</div>
</section>